@import './variables';


$light-mode: (
    "body-bg": white,
    "header-bg": $green,
    "footer-bg": $yellow-100,
    "footer-clr": $green,
    "text-clr": $dark,
);


$dark-mode: (
    "body-bg": $blue-black,
    "header-bg": $blue-black-50,
    "footer-bg": $blue-black-50,
    "footer-clr": $purple,
    "text-clr": $white-50,
);



// color theme
@mixin theme-colors($light-theme: true) {
    @if($light-theme) {
        background-color: $green;
    }
    @else {
        background-color: $yellow-50;
    }
}

// flex container
@mixin flex-container($display, $direction, $position) {
    display: $display;
    justify-content: $direction;
    align-items: $position;
}


// Define the mixin for button styles
@mixin button-styles {
    font-size: $font-size-md;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 4.6px;
    cursor: pointer;
  }
  
