@use 'sass:math';

// colors
$green: #01796f;
$green-50: #33aba1;
$green-100: #00655b;
$yellow: #FF8F00;
$yellow-50: #ffffcc;
$yellow-100: #f3e885;
$yellow-200: #d4b44c;
$white-50: whitesmoke;
$blue-black: #141625;
$blue-black-50: #252945;
$purple: #7C5DFA;
$dark: #2b283a;
$red: #ef5839;


//  fonts
$font: 'Roboto', sans-serif;

// font-sizes
$font-size-xxxl: pxToRem(36);
$font-size-xxl: pxToRem(28);
$font-size-xl: pxToRem(24);
$font-size-lg: pxToRem(22);
$font-size-md: pxToRem(18);
$font-size-sm: pxToRem(16);


// line height
$line-height: 1.5;


// padding
$padding-1: pxToRem(20);
$padding-2: pxToRem(13.6);
$padding-3: pxToRem(46);

// converts rem to px
@function pxToRem($value, $base:16) {
    @return  math.div($value, $base)+rem
};

// image
img {
    display: block;
    width: 100%;
}