@import '../../styles/mixins';
@import '../../styles/variables';

.main-container {
    @include flex-container(flex, space-between, center);
    flex-direction: column;
    padding: $padding-1;
}

// media query
@media screen and (min-width: 768px) {

    .main-container {
        padding: $padding-3 0;
        max-width: 800px;
        width: 90%;
        margin: 0 auto;
    }
    
}