
<div class="container">
    <h2>Our Core Values of Learning</h2>
    <div class="section-two-image-container">
        <div class="feature-item">
            <img src="../../../../assets/images/Scrum board-bro.png" alt="punk with blach hair and red and blue glasses"
                class="feature-image">
            <p>Our curriculm at BrightKids Academy fosters holistic development, nurturing academic, creative, and personal growth.</p>
        </div>
        <div class="feature-item">
            <img src="../../../../assets/images/Recess.gif" alt="Kids playing on playground"
                class="feature-image">
            <p>Nurtuting both mind and body. Our wellness center presents health and balnce through various activities.</p>
        </div>
    </div>

    <div class="inner">
        <a href="#" class="btn btn-light" appCustomStyle>About Us</a>
        <a href="#" class="btn btn-mid" appCustomStyle>Contact</a>
    </div>
    <p>Step into boundless learning and endless possibilities today.</p>
</div>