<div class="footer">
    <p>&copy;2024. All rights reserved - BrightKids</p>

    <div class="inner-div">

    <div class="contact-info">
        <address>
            <p>123 School Lane, ED 45678</p>
            <p>(123) 456-7890</p>
            <p>info&#64;schoolwebsite.edu</p>
        </address>
    </div>

    <div class="social-media">
        <a href="https://twitter.com/school" target="_blank">Twitter</a>
        <a href="https://instagram.com/school" target="_blank">Instagram</a>
        <a href="https://linkedin.com/school" target="_blank">LinkedIn</a>
      </div>

    <div class="legal-info">
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/terms-of-use">Terms of Use</a>
        <a href="/disclaimer">Disclaimer</a>
      </div>

</div>
</div>