@import '../../styles/mixins';
@import '../../styles/variables';

 // link class
 .a-link {
    display: block;
    text-decoration: none;
    color: $yellow-50;
    text-align: center;
  }

.footer {
    color: $yellow-50;
    background-color: $green;
    @include flex-container(flex, space-between, center);
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    font-size: 0.625rem;
    


    .inner-div {
        @include flex-container(flex, space-between, center);
        gap: 1rem;
        flex-wrap: wrap;

        .social-media,
        .legal-info {

            a {
                @extend .a-link;
            }
        }
    }



}

// media queries
@media screen and (min-width:768px) {

    .footer {

        .inner-div {
            gap: 3rem;

            .social-media,
            .legal-info {
                a {
                    font-size: $font-size-sm;
                    
                    &:hover {
                        color: $dark;
                    }

                }
            }
    }
    }
    
}