<div class="container">
    <h2>Shaping Minds, Building Future</h2>
    <img src="../../../../assets/images/Teaching-amico.png" alt="Students in a classroom" class="main-image">
    <h3>At $10k, discover how premier facilities!</h3>
    <p>In a challenging world, Education shapes a brighter tomorrow. At <a href="#">Brightkids Academy</a>,
        we nurture
        stduents
        into visionaries, thinkers and leaders. Join us to unlock limitless learning and
        endless possibilities. Elevate education with us, where each step is a leap towards brughter future.

    </p>
    <div class="inner">
        <a href="#" class="btn btn-dark">Apply</a>
        <a href="#" class="btn btn-mid">More info</a>
    </div>
</div>
